## 一、原始数据IN_OUT

In [1]:
import pandas as pd
import numpy as np

In [2]:
FIRST=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT1_4.csv')
SECOND=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT5_8.csv')
THIRD=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT9_12.csv')
FOUR=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT13_16.csv')
FIVE=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT17_20.csv')
SIX=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\IN_OUT21_25.csv')

In [89]:
IN_OUT_DATA=pd.concat([FIRST,SECOND,THIRD,FOUR,FIVE,SIX])
print(IN_OUT_DATA.shape[0])
print(IN_OUT_DATA['day'].unique())
ALL=IN_OUT_DATA.groupby(['day'])['IN','OUT'].sum()

207340
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]

In [249]:
TEST29=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_testA\TEST29.csv')
#TIME=TEST29[['startTime','endTime']]
#TEST29=TEST29[['stationID','hour','did']]

#TEST29

### 1、每日，各站点各小时间隔的人流量

In [178]:
EVERY_DAY_IN=IN_OUT_DATA.pivot_table(values='IN',index=['stationID','hour','did'],columns='day')

EVERY_DAY_IN=EVERY_DAY_IN.reset_index()
print('每日，各站点每小时间隔入人流量',EVERY_DAY_IN.shape[0])


EVERY_DAY_OUT=IN_OUT_DATA.pivot_table(values='OUT',index=['stationID','hour','did'],columns='day')

EVERY_DAY_OUT=EVERY_DAY_OUT.reset_index()
print('每日，各站点每小时间隔出人流量',EVERY_DAY_OUT.shape[0])

每日，各站点每小时间隔入人流量 9766
每日，各站点每小时间隔出人流量 9766

### 2、  每日，各站点各小时间隔平均人流量

In [24]:
# 各个站点，每小时以10min为间隔出入人数（平均值）
MEAN_IN=IN_OUT_DATA.groupby(['stationID','hour','did'])['IN'].agg(['mean']).reset_index()
print('每日，各站点各小时间隔平均入人流量：',MEAN_IN.shape[0])

MEAN_OUT=IN_OUT_DATA.groupby(['stationID','hour','did'])['OUT'].agg(['mean']).reset_index()
print('每日，各站点各小时间隔平均出人流量：',MEAN_OUT.shape[0])

每日，各站点各小时间隔平均入人流量： 9766
每日，各站点各小时间隔平均出人流量： 9766

### 3、  星期几平均人流量

In [30]:
# 合并日期
IN_OUT_DATA['data']=IN_OUT_DATA['year'].astype(str)+'/'+IN_OUT_DATA['month'].astype(str)+'/'+IN_OUT_DATA['day'].astype(str)

# 将字符串转化为时间类型
IN_OUT_DATA['data']=pd.to_datetime(IN_OUT_DATA['data'])

# 输出星期几（查看一周中的星期几）
IN_OUT_DATA['weekday'] = IN_OUT_DATA['data'].dt.weekday_name

# 查看一周中的第几天
#IN_OUT_DATA['weekday'] = IN_OUT_DATA['data'].dt.dayofweek

WEEK_IN=IN_OUT_DATA.pivot_table(values='IN',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
print('星期天，各站点各小时间隔平均入人流量：',WEEK_IN.shape[0])


WEEK_OUT=IN_OUT_DATA.pivot_table(values='OUT',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
print('星期天，各站点各小时间隔平均出人流量：',WEEK_OUT.shape[0])

#WEEK_IN=IN_OUT_DATA.groupby(['stationID','hour','did'])['weekday','IN'].agg(['mean']).reset_index
#WEEK_OUT=IN_OUT_DATA.groupby(['weekday','stationID','hour','did'])['OUT'].agg(['mean'])

星期天，各站点各小时间隔平均入人流量： 9766
星期天，各站点各小时间隔平均出人流量： 9766

### 4、FIX/FLOW人群平均人流量

In [64]:
FIX_FIRST=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT1_4.csv')
FIX_SECOND=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT5_8.csv')
FIX_THIRD=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT9_12.csv')
FIX_FOUR=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT13_16.csv')
FIX_FIVE=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT17_20.csv')
FIX_SIX=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FIX_IN_OUT21_25.csv')
FIX_IN_OUT_DATA=pd.concat([FIX_FIRST,FIX_SECOND,FIX_THIRD,FIX_FOUR,FIX_FIVE,FIX_SIX])
FIX_IN_OUT_DATA.head()

   Unnamed: 0  year  month  day  hour       did  stationID   IN  OUT
0           0  2019      1    1     5  [50, 60)          9  396    5
1           1  2019      1    1     5  [50, 60)         10  159    3
2           2  2019      1    1     5  [50, 60)         12   72    1
3           3  2019      1    1     5  [50, 60)         14   41    1
4           4  2019      1    1     5  [50, 60)         15  109    1

In [74]:
# 合并日期
FIX_IN_OUT_DATA['data']=FIX_IN_OUT_DATA['year'].astype(str)+'/'+FIX_IN_OUT_DATA['month'].astype(str)+'/'+FIX_IN_OUT_DATA['day'].astype(str)

# 将字符串转化为时间类型
FIX_IN_OUT_DATA['data']=pd.to_datetime(FIX_IN_OUT_DATA['data'])

FIX_IN_OUT_DATA['weekday'] = FIX_IN_OUT_DATA['data'].dt.weekday_name


EVERY_FIX_IN=FIX_IN_OUT_DATA.groupby(['stationID','hour','did'])['IN'].mean().reset_index()
print('FIX各站点各小时间隔平均入人流量：',EVERY_FIX_IN.shape[0])

EVERY_FIX_OUT=FIX_IN_OUT_DATA.groupby(['stationID','hour','did'])['OUT'].mean().reset_index()
print('FIX各站点各小时间隔平均出人流量：',EVERY_FIX_OUT.shape[0])

#FIX_IN=FIX_IN_OUT_DATA.pivot_table(values='IN',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
#print('星期天，FIX各站点各小时间隔平均入人流量：',FIX_IN.shape[0])

#FIX_OUT=FIX_IN_OUT_DATA.pivot_table(values='OUT',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
#print('星期天，FIX各站点各小时间隔平均出人流量：',FIX_OUT.shape[0])

FIX各站点各小时间隔平均入人流量： 8601
FIX各站点各小时间隔平均出人流量： 8601

In [75]:
FLOW_FIRST=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT1_4.csv')
FLOW_SECOND=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT5_8.csv')
FLOW_THIRD=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT9_12.csv')
FLOW_FOUR=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT13_16.csv')
FLOW_FIVE=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT17_20.csv')
FLOW_SIX=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_train\FLOW_IN_OUT21_25.csv')
FLOW_IN_OUT_DATA=pd.concat([FLOW_FIRST,FLOW_SECOND,FLOW_THIRD,FLOW_FOUR,FLOW_FIVE,FLOW_SIX])
# 合并日期
FLOW_IN_OUT_DATA['data']=FLOW_IN_OUT_DATA['year'].astype(str)+'/'+FLOW_IN_OUT_DATA['month'].astype(str)+'/'+FLOW_IN_OUT_DATA['day'].astype(str)

# 将字符串转化为时间类型
FLOW_IN_OUT_DATA['data']=pd.to_datetime(FLOW_IN_OUT_DATA['data'])

FLOW_IN_OUT_DATA['weekday'] = FLOW_IN_OUT_DATA['data'].dt.weekday_name



EVERY_FLOW_IN=FLOW_IN_OUT_DATA.groupby(['stationID','hour','did'])['IN'].mean().reset_index()
print('FIX各站点各小时间隔平均入人流量：',EVERY_FLOW_IN.shape[0])


EVERY_FLOW_OUT=FLOW_IN_OUT_DATA.groupby(['stationID','hour','did'])['OUT'].mean().reset_index()
print('FIX各站点各小时间隔平均出人流量：',EVERY_FLOW_OUT.shape[0])

#FLOW_IN=FLOW_IN_OUT_DATA.pivot_table(values='IN',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
#print('星期天，FLOW各站点各小时间隔平均入人流量：',FLOW_IN.shape[0])

#FLOW_OUT=FLOW_IN_OUT_DATA.pivot_table(values='OUT',index=['stationID','hour','did'],columns='weekday',aggfunc='mean').reset_index()
#print('星期天，FLOW各站点各小时间隔平均出人流量：',FLOW_OUT.shape[0])

FIX各站点各小时间隔平均入人流量： 9692
FIX各站点各小时间隔平均出人流量： 9692

In [80]:
FF_MEAN_IN=pd.merge(EVERY_FIX_IN,EVERY_FLOW_IN,on=['stationID','hour','did'])
FF_MEAN_IN['IN']=FF_MEAN_IN['IN_x']+FF_MEAN_IN['IN_y']

FF_MEAN_OUT=pd.merge(EVERY_FIX_OUT,EVERY_FLOW_OUT,on=['stationID','hour','did'])
FF_MEAN_OUT['OUT']=FF_MEAN_OUT['OUT_x']+FF_MEAN_OUT['OUT_y']

### 三、整合数据

In [267]:
DATA_in=pd.merge(EVERY_DAY_IN,MEAN_IN,on=['stationID','hour','did'])

DATA_IN=pd.merge(DATA_in,WEEK_IN,on=['stationID','hour','did'])

DATA_IN=pd.merge(DATA_in,FF_MEAN_IN,on=['stationID','hour','did'])

EVERY_IN=pd.merge(TEST29,DATA_IN,on=['stationID','hour','did'],how='outer')

EVERY_IN=EVERY_IN.fillna(0)

EVERY_IN.drop(columns=["IN_x",'IN_y','endminute','startminute','did','inNums','outNums','hour'],inplace=True)

#EVERY_IN['Label']=EVERY_IN['hour'].astype(str)+','+EVERY_IN['did'].astype(str)

#EVERY_IN=EVERY_IN[['stationID','startTime','endTime','hour','did']]


print(EVERY_IN.shape[0])

EVERY_IN.head(20)

11664

,Unnamed: 0,stationID,startTime,endTime,1,2,3,4,5,6,...,18,19,20,21,22,23,24,25,mean,IN
0,0,0,2019-01-29 00:00:00,2019-01-29 00:10:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,2019-01-29 00:10:00,2019-01-29 00:20:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,2019-01-29 00:20:00,2019-01-29 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,2019-01-29 00:30:00,2019-01-29 00:40:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,2019-01-29 00:40:00,2019-01-29 00:50:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0,2019-01-29 00:50:00,2019-01-29 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,0,2019-01-29 01:00:00,2019-01-29 01:10:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,0,2019-01-29 01:10:00,2019-01-29 01:20:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,0,2019-01-29 01:20:00,2019-01-29 01:30:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,0,2019-01-29 01:30:00,2019-01-29 01:40:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10,0,2019-01-29 01:40:00,2019-01-29 01:50:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,11,0,2019-01-29 01:50:00,2019-01-29 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,12,0,2019-01-29 02:00:00,2019-01-29 02:10:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,13,0,2019-01-29 02:10:00,2019-01-29 02:20:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,14,0,2019-01-29 02:20:00,2019-01-29 02:30:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,15,0,2019-01-29 02:30:00,2019-01-29 02:40:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,16,0,2019-01-29 02:40:00,2019-01-29 02:50:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,17,0,2019-01-29 02:50:00,2019-01-29 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,18,0,2019-01-29 03:00:00,2019-01-29 03:10:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,19,0,2019-01-29 03:10:00,2019-01-29 03:20:00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 四、对离散变量的one_hot编码方法

通过python对离散变量进行one_hot的方法。这里提供两种哑编码的实现方法，pandas和sklearn。它们最大的区别是，pandas默认只处理字符串类别变量，sklearn默认只处理数值型类别变量(需要先 LabelEncoder )

#### 1、 pd.get_dummies(prefix=)

pandas的get_dummies()可以直接对变量进行one-hot编码，其中prefix是为one-hot编码后的变量进行命名。

#### 2、LabelEncoder和OneHotEncoder

通过sklearn的模块实现对离散变量的one-hot编码，其中LabelEncoder是将离散变量替换为数字，

OneHotEncoder则实现对替换为数字的离散变量进行one-hot编码

#### 注：get_dummies()可以直接对字符型变量进行one-hot编码，但OneHotEncoder不能直接对字符型变量编码，因此我们需要先将字符型变量转换为数值型变量。这就是为什么在OneHotEncoder之前需要LabelEncoder的原因。

In [266]:
# 对区间段进行独热编码
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# sklearn.preprocessing.LabelEncoder()：标准化标签，将标签值统一转换成range(标签值个数-1)范围内

label_encoder= LabelEncoder()  # LabelEncoder 是对不连续的数字或者文本进行编号

enconder= label_encoder.fit_transform(EVERY_IN['did'])  #fit_transform等价于fit和transform两个函数结合

onehot_encoder = OneHotEncoder(sparse=False)  #OneHotEncoder 用于将表示分类的数据扩维：

ONE= pd.DataFrame(encoder.fit_transform(integer_encoded .reshape(-1,1)))

KeyError: 'did'

## 四、模型构建

##### scikit_learn是一个功能强大的python包，内置了很多机器学习的模块，也提供了很多数据集：http://scikit-learn.org/stable/modules/classes.html#module-sklearn.datasets

##### scikit_learn 学习模式的调用有很强的统一性，调用类似

导入—>建模—>训练—>预测

In [260]:
TEST=pd.read_csv(r'D:\Entertainment\Prediction of Metro Passenger Flow\Metro_testA\IN_OUT.csv')
TEST=TEST[['stationID','hour','did','IN','OUT']]
TEST=pd.merge(TEST29,TEST,on=['stationID','hour','did'],how='outer')
TEST.drop(columns=['endminute','startminute','did','inNums','outNums','hour'],inplace=True)
TEST.head()

   Unnamed: 0  stationID            startTime              endTime  IN  OUT
0           0          0  2019-01-29 00:00:00  2019-01-29 00:10:00 NaN  NaN
1           1          0  2019-01-29 00:10:00  2019-01-29 00:20:00 NaN  NaN
2           2          0  2019-01-29 00:20:00  2019-01-29 00:30:00 NaN  NaN
3           3          0  2019-01-29 00:30:00  2019-01-29 00:40:00 NaN  NaN
4           4          0  2019-01-29 00:40:00  2019-01-29 00:50:00 NaN  NaN

In [263]:
from sklearn.linear_model import LinearRegression # 导入模型
regressor=LinearRegression()#建立模型
regressor=regressor.fit(EVERY_IN.iloc[:,4:31],EVERY_IN.iloc[:,0:4])
regressor.predict(TEST.iloc[:,0:4])

ValueError: could not convert string to float: '2019-01-30 00:00:00'

In [123]:
# 利用测试集评价模型来计算混淆矩阵和ROC评价
from sklearn.metrics import confusion_matrix # 导入混淆矩阵函数
cm=confusion_matrix(TEST[:,3].values,regressor.predict(TEST.iloc[:,0:2].values))  # 利用测试数据集制作混淆矩阵
#  confusion_matrix(y_true,y_pred,labels=None,sample_weight=None)
# y_true:样本真实分类结果；y_pred:样本预测结果
plt.matshow(cm,cmap=plt.cm.Greens) #画混淆矩阵图，配色风格使用cm.Greens
# matshow():把矩阵或数组绘制成图像的函数
plt.colorbar()#颜色标签

for x in range(len(cm)):#数据标签
    for y in range(len(cm)):
        plt.annotate(cm[x,y],xy=(x,y),color='r',horizontalalignment="center",verticalalignment='center')

plt.ylabel('True label') # 坐标轴标签
plt.xlabel('Predicted label') # 坐标轴标签
plt.show()#显示作图结果

      stationID  hour
0             4     0
1             5     0
2             8     0
3            20     0
4            23     0
5            30     0
6            39     0
7            44     0
8            77     0
9             3     0
10            5     0
11           20     0
12           25     0
13           45     0
14           57     0
15           20     0
16           30     0
17           31     0
18           32     0
19           43     0
20           57     0
21           59     0
22           73     0
23           24     0
24           43     0
25           80     0
26            5     0
27           32     0
28           74     0
29           23     0
...         ...   ...
8478         37    23
8479         38    23
8480         40    23
8481         41    23
8482         45    23
8483         46    23
8484         47    23
8485         50    23
8486         51    23
8487         53    23
8488         57    23
8489         58    23
8490         63    23
8491         80    23
8492          2    23
8493          3    23
8494          5    23
8495         14    23
8496         15    23
8497         17    23
8498         20    23
8499         30    23
8500         32    23
8501         37    23
8502         42    23
8503         46    23
8504         48    23
8505         56    23
8506         63    23
8507         64    23

[8508 rows x 2 columns]

In [128]:
hour_list = ['{num:02d}'.format(num=i) for i in range(24)]
for hour in hour_list:
     print (hour)

00
01
02
03
04
05
06
07
08
09
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [134]:
import datetime
print (datetime.datetime.now()+datetime.timedelta(minutes=1))

2019-03-28 15:17:00.636202

In [137]:
import time
 
cur_time = time.time()

print (cur_time-cur_time%86400)

1553731200.0